bld
.vscode/
build
.cache
cmake-build-debug
.idea/
.DS_Store
config.yaml
/src/calendar_scheduler/CALENDAR_TEST
/src/calendar_scheduler/token.json
src/data_analyser/tuner_results
src/data_analyser/polar_user_data.csv